@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<link rel="stylesheet" href="~/css/site.css">
<header class="header"></header>
<div class="container">
    <div class="search flex hidden">
        <div class="search-content flex">
        </div>
        <div class="clear">Clear</div>
    </div>
    <div class="jobs">
    </div>
    <script src="~/js/site.js"></script>
    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="#">Ayo Daramola</a>.
    </div>
</div>
